<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.porkandspoon.dao.MainDAO">

	<select id="getMenuList" resultType="kr.co.porkandspoon.dto.MenuDTO">
        SELECT
            menu_idx,
               menu_name,
               url,
               icon,
               parent_idx,
               depth
        FROM menu
        WHERE role IS NULL
           OR FIND_IN_SET(#{role}, role)
            AND
              use_yn = 'Y'
        ORDER BY parent_idx, menu_order
    </select>

</mapper>